<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
    white-space: nowrap;
  }
  .btn-search:hover {
    background-color: #e03040;
    color: #fff;
  }
  .search-input {
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="/listing">
      <i class="fa-solid fa-compass"></i> WanderLust
    </a>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">

      <!-- Search bar -->
      <form class="d-flex mx-auto my-2 my-md-0" role="search">
        <input class="form-control me-2 search-input" type="search" placeholder="Search destinations" />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>
      </form>

      <!-- Nav links -->
      <ul class="navbar-nav ms-auto align-items-md-center gap-1">
        <li class="nav-item">
          <a class="nav-link" href="/listing">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listing/new">Airbnb your home</a>
        </li>
        <% if (typeof currentUser === 'undefined' || !currentUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Login</b></a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        </li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>